@font-face {
    font-family: 'Prime';
    src: url('fonts/PrimeRegular.woff') format('woff'),
         url('fonts/PrimeRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Prime';
    src: url('fonts/PrimeLight.woff') format('woff'),
         url('fonts/PrimeLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}