#container {
	max-width: 970px;
	min-width: 800px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}

/* =Site Info Bar
----------------------------------------------- */
#site_info {
	background-color: #000;
	width: 100%;
	font-size: 70%;
	overflow: hidden;
}

#site_info .content {
	max-width: 970px;
	min-width: 850px;
	padding: 0 10px;
	margin: 0 auto;
}

#site_info .social {
	list-style: none;
	display: inline;
}

#site_info .social li {
	padding: 10px 0;
	margin-right: 15px;
}

#site_info .social li.facebook {
	background: url(img/facebook_icon.png) left center no-repeat;
	padding-left: 10px;
}

#site_info .social li.youtube {
	background: url(img/youtube_icon.png) left center no-repeat;
	padding-left: 20px;
}

#site_info .links {
	list-style: none;
	float: right;
	background: url(img/divider.png) no-repeat right bottom;
}

#site_info .links li {
	text-transform: uppercase;
	background: url(img/divider.png) no-repeat left bottom;
	padding: 10px 30px;
}

#site_info .social li,
#site_info .links li {
	float: left;
	text-align: center;
}

/* =Site Info Bar
----------------------------------------------- */
#site_header {
	padding-top: 30px;
	margin-bottom: 30px;
}

#site_navigation {
	position: relative;
}

#site_navigation ul {
	font-size: 80%;
	text-align: center;
	position: relative;
	z-index: 100;
}

#site_navigation ul li {
	width: 12%;
	display: inline-block;
	zoom: 1;
	text-transform: uppercase;
}

#site_navigation ul li.logo {
	width: 19%;
	background-color: transparent;
	position: relative;
}
#site_navigation ul li.logo img {
	width: 100%;
	vertical-align: middle;
}

#site_navigation .background {
	margin-top: -20px;
	top: 50%;
	position: absolute;
	left: 0;
	width: 100%;
	height: 35px;
	background-color: black;
	background-color: rgba(0, 0, 0, .4);
	z-index: 0;
}

/* =Site Content
----------------------------------------------- */
.box {
	width: 48%;
	min-height: 200px;
	background-color: grey;
	background-color: rgba(255,255,255,.15);
}

.box-title {
	display: inline-block;
	zoom: 1;
	padding: 5px 8px;
	background-color: white;
	color: black;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.box-title-green {
	color: black !important;
	background-color: #ADBF83 !important;
}

.box-content {
	padding: 10px;
	position: relative;
}