.is-transitioning {
	display: block !important;
	visibility: visible !important;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.small{
	font-size: 70%;
}

.big{
	font-size: 120%;
}

.huge{
	font-size: 125%;
	text-transform: uppercase;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-center {
	text-align: center;
}

.clear,
.clear-break {
	clear: both;
}

.clear-break {
	height: 20px;
}

.blinking {
	animation: blink .2s infinite;
	-moz-animation: blink .2s infinite;
	-webkit-animation: blink .2s infinite;
}

@keyframes blink {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes blink {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes blink {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* =Widgets
----------------------------------------------- */
.widget-container {
	overflow: hidden;
	list-style: none;
}

.widget-container .widget:first-child {
	float: left;
}

.widget-container .widget:last-child {
	float: right;
}

.widget {
	width: 48%;
	min-height: 200px;
	font-size: 80%;
	background-color: #222;
	position: relative;
}

.widget-title {
	display: inline-block;
	zoom: 1;
	padding: 5px 8px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0 0 5px;
	background-color: #ADBF83;
	color: black;
}

.widget-content {
	margin: 30px 8px 8px 8px;
}