.is-transitioning {
	display: block !important;
	visibility: visible !important;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: bold;
}

.small{
	font-size: 70%;
}

.big{
	font-size: 120%;
}

.huge{
	font-size: 125%;
	text-transform: uppercase;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-center {
	text-align: center;
}

.clear,
.clear-break {
	clear: both;
}

.clear-break {
	height: 20px;
}

.divider {
	height: 1px;
	margin: 15px 0;
}

.blinking {
	animation: blink .2s infinite;
	-moz-animation: blink .2s infinite;
	-webkit-animation: blink .2s infinite;
}

@keyframes blink {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes blink {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@-webkit-keyframes blink {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

/* =Widgets
----------------------------------------------- */
.intel-widgets,
.home-widgets {
	overflow: hidden;
}

.intel-widgets {
	float: left;
	width: 27%;
}

.intel-widgets .widget {
	width: 100%;
	height: 185px;
	float: left;
	font-size: 80%;
	background-color: #222;
	box-shadow: 1px 1px 3px #111;
	-moz-box-shadow: 1px 1px 3px #111;
	-webkit-box-shadow: 1px 1px 3px #111;
}

.intel-widgets .widget:first-child {
	margin-bottom: 30px;
}

.home-widgets .widget {
	width: 48%;
	min-height: 200px;
}

.home-widgets .widget:first-child {
	float: left;
}

.home-widgets .widget:last-child {
	float: right;
}

.widget {
	background-color: grey;
	background-color: rgba(255,255,255,.15);
	background-size: cover;
	background-position: center center;
	position: relative;
}

.widget .widget-title {
	display: inline-block;
	zoom: 1;
	padding: 5px 8px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0 0 5px;
	background-color: #FFF;
	color: black;
	text-transform: uppercase;
}

.widget.title-green .widget-title {
	background-color: #ADBF83;
}

.widget.title-blue .widget-title {
	background-color: #648595;
}

.widget.title-black .widget-title {
	background-color: #000;
}

.widget .widget-content {
	margin: 30px 8px 8px 8px;
}

.widget .widget-content .widget-link {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: cover;
	background-position: center center;
}

.widget .widget-content .widget-label {
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 8px;
	background-color: black;
	background-color: rgba(0,0,0,.4);
}

/* =Intel Slider
----------------------------------------------- */
.intel-slider {
	position: relative;
	height: 400px;
	width: 70%;
	margin-right: 3%;
	background-color: #111;
	box-shadow: 1px 1px 3px #111;
	-moz-box-shadow: 1px 1px 3px #111;
	-webkit-box-shadow: 1px 1px 3px #111;
}

.intel-slider .head {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.intel-slider .head .title {
	display: inline-block;
	zoom: 1;
	padding: 5px 8px;
	background-color: white;
	color: black;
	float: left;
	text-transform: uppercase;
}

.intel-slider .head .navigation {
	float: left;
}

.intel-slider .head .navigation a {
	position: relative;
	float: left;
	color: black;
	zoom: 1;
	height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 90%;
	padding: 5px 0 0 0;
	margin: 0 10px;
	width: 20px;
	display: block;
	background-color: gray;
	background-color: rgba(255, 255, 255, .5);
	box-shadow: 1px 1px 2px #000;
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	transition: height 500ms ease;
	-moz-transition: height 500ms ease;
	-webkit-transition: height 500ms ease;
}

.intel-slider .head .navigation a.active {
	background-color: black;
	cursor: default;
	color: white;
}

.intel-slider .head .navigation a:not(.active):hover {
	height: 50px;
}

.intel-slider .slides {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.intel-slider .slides .slide {
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	-webkit-filter: grayscale(100%);
	-webkit-transition: -webkit-filter 1500ms, opacity 1500ms;
}

.intel-slider .slides .slide.active {
	display: block;
	opacity: 1;
	-webkit-filter: none;
}

.intel-slider .slides .slide .slide-content {
	color: white;
	text-shadow: 1px 1px 2px #000;
	width: 70%;
	position: absolute;
	bottom: 10%;
	left: 12%;
	padding: 10px;
	background-color: black;
	background-color: rgba(255,255,255,.2);
	z-index: 100;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.intel-slider .slides .slide .slide-content .slide-link {
	display: block;
	position: absolute;
	bottom: -26px;
	left: 10px;
	line-height: 16px;
	padding: 0 20px 0 0;
	text-transform: uppercase;
	background: url('../img/icons/right_arrow.png') no-repeat right top;
}